* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.5rem;
  font-size: 1rem;
}

input {
  line-height: 1.5rem;
  font-size: 1rem;
  padding-left: 1rem;
}

input:focus {
  color: #004238;
}
