* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.5rem;
  font-size: 1rem;
}

input,
textarea {
  line-height: 1.5rem;
  font-size: 1rem;
  padding-left: 1rem;
}

input:focus,
select {
  color: #004238;
}

select {
  border: none;
  border-radius: 0.5rem;
  height: 3.5rem;
  background-color: #f7f9f9;
  padding: 1rem 1rem 1rem 0rem;
  font-size: 1rem;
  font-weight: 500;
}

fieldset {
  border: none;
}

#checkbox {
  margin-top: 0.25rem;
  height: 1rem;
  width: 1rem;
}
